<h1>
  <% if @answer.correct %>
  <%= image_tag "http://www.jstchillin.org/nickdemarco/toocool.gif" %>
  <% else %>
  <%= image_tag "http://1.bp.blogspot.com/-BGKshYwZD_w/UzKk4DR2YJI/AAAAAAAAHN8/NkRiejf-G74/s1600/Im-a-LOSER.png" %>
  <% end %>
</h1>
